@media print {

  html, body{
    margin: 0 !important; 
    padding: 0 !important;
    width:100% !important;
    max-width: 100% !important; 
  }
  
  .content_container {
    padding: 0px;
    margin: 0px; 
  }
  .content_container > .row:not(.d-print-none), 
  .dungeonslayer-content,
  .grid-stack {
    height: 100% !important; 
    margin: 0 !important; 
    padding: 0 !important;
    width:100% !important;
    max-width: 100% !important; 
    display: block !important; 
  }
  .row {
    padding: none;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  
  .content_container > .row:not(.d-print-none){
    page-break-after: always !important; 
    position: relative !important; 
    height: 100%; 
  }
  .content_container:not(.Firefox) > .row:not(.d-print-none){
    height: calc(100vh - 2px) !important;
  }
  .dungeonslayer-content .grid-stack-item-content {
    border: 0px solid !important;
  }
  .item_image {
    max-width: 100%;
    width: 100%;
  }
  .d-print-none {
    display: none !important;
  }

  .col-md-6 {
    max-width: 100%;
    padding: 0px !important;
    flex: 0 0 100%;
  }

  .grid-stack-item {
    border: 0px solid red;
  }

  .dungeonslayer-content .grid-stack-item-content {
    box-shadow: none;
  }

  td>img {
    height: 18px;
  }

  *[contenteditable="true"] {
    background-color: transparent;
  }

  div#second-grid:after,
  div#advanced-grid:after {
    display: none;
  }

  .show_on_hover {
    display: none !important;
  }

  .second_content {
    margin-top: 0px;
  }

  .nsc_notes {
    height: 86px !important;
  }

  body {
    max-width: 100%;
    margin-left: 0px;
  }

  .nsc_skill .skill_edit {
    top: 21px !important;
  }

  body .table-bordered td, 
  body .table-bordered th{
    border: 2px solid black !important; 
  }

  .nsc_skill .skill_edit,
  .header_edit,
  .item_title,
  .dungeonslayer-content .table thead th {
    font-size: 24px;
  }

  .table_steps_gesteigert,
  .table_steps_gesamt,
  .table_steps_half {
    width: auto;
    min-width: 28px;
  }


  .table-bordered td.woodstamp,
  .item_text,
  .table-bordered td .woodstamp,
  .table-bordered td span.woodstamp,
  .dungeonslayer-content .table-bordered td {
    font-size: 20px;
    line-height: 20px;
  }

  .table td {
    padding: 3px 5px;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    height: 26px;
  }

  .back_gray,
  .table thead th {
    background-color: #d0d4d7 !important;
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
  }

  .dungeonslayer-content .skill_edit {
    top: 7px;
  }

  .skill_edit,
  .attrib_edit {
    font-size: 40px;
  }

  .header_logo {
    margin-bottom: 20px;
    ;
  }

  small {
    font-size: 10px;
    line-height: 10px;
  }

  .attrib {
    font-size: 55px;
    line-height: 60px;
  }

  .header_edit {
    margin-bottom: 5px;
  }

  .input_field:first-child {
    margin-top: 10px;
  }

  .small_stuff .header_edit.text-center {
    width: 40px;
  }

  .input_field,
  .attrib_row {
    margin-bottom: 30px;
  }

  .grid-stack>.grid-stack-item[data-gs-y="1"] {
    top: 3.5714285714vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-y="2"] {
    top: 7.1428571429vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-y="3"] {
    top: 10.7142857143vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-y="4"] {
    top: 14.2857142857vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-y="5"] {
    top: 17.8571428571vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-y="6"] {
    top: 21.4285714286vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-y="7"] {
    top: 25vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-y="8"] {
    top: 28.5714285714vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-y="9"] {
    top: 32.1428571429vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-y="10"] {
    top: 35.7142857143vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-y="11"] {
    top: 39.2857142857vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-y="12"] {
    top: 42.8571428571vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-y="13"] {
    top: 46.4285714286vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-y="14"] {
    top: 50vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-y="15"] {
    top: 53.5714285714vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-y="16"] {
    top: 57.1428571429vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-y="17"] {
    top: 60.7142857143vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-y="18"] {
    top: 64.2857142857vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-y="19"] {
    top: 67.8571428571vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-y="20"] {
    top: 71.4285714286vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-y="21"] {
    top: 75vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-y="22"] {
    top: 78.5714285714vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-y="23"] {
    top: 82.1428571429vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-y="24"] {
    top: 85.7142857143vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-y="25"] {
    top: 89.2857142857vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-y="26"] {
    top: 92.8571428571vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-y="27"] {
    top: 96.4285714286vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-y="28"] {
    top: 100vh !important;
  }

  .grid-stack>.grid-stack-item {
    min-width: 3.5714285714%;
  }

  .grid-stack>.grid-stack-item[data-gs-height="1"] {
    height: 3.5714285714vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-height="2"] {
    height: 7.1428571429vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-height="3"] {
    height: 10.7142857143vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-height="4"] {
    height: 14.2857142857vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-height="5"] {
    height: 17.8571428571vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-height="6"] {
    height: 21.4285714286vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-height="7"] {
    height: 25vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-height="8"] {
    height: 28.5714285714vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-height="9"] {
    height: 32.1428571429vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-height="10"] {
    height: 35.7142857143vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-height="11"] {
    height: 39.2857142857vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-height="12"] {
    height: 42.8571428571vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-height="13"] {
    height: 46.4285714286vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-height="14"] {
    height: 50vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-height="15"] {
    height: 53.5714285714vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-height="16"] {
    height: 57.1428571429vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-height="17"] {
    height: 60.7142857143vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-height="18"] {
    height: 64.2857142857vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-height="19"] {
    height: 67.8571428571vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-height="20"] {
    height: 71.4285714286vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-height="21"] {
    height: 75vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-height="22"] {
    height: 78.5714285714vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-height="23"] {
    height: 82.1428571429vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-height="24"] {
    height: 85.7142857143vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-height="25"] {
    height: 89.2857142857vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-height="26"] {
    height: 92.8571428571vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-height="27"] {
    height: 96.4285714286vh !important;
  }

  .grid-stack>.grid-stack-item[data-gs-height="28"] {
    height: 100vh !important;
  }

}